<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>McMax</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="mcmax.biz,Access for the Cloud,Forms,Reports,Tables,HTML,CSS,JavaScript,Angular,Node,Sql server,mongoDB">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://w3schools.com/w3css/4/w3.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwpqR6k4G3q-Bus5Kf83S4tPH9dMfAlcQ"></script>

    <style>
        .modal-header, h4, .close {
            background-color: #5cb85c;
            color: white;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        .fieldError {
            border: 2px solid red;
            border-radius: 5px;
        }

        .alignRight {
            text-align: right;
        }

        .mainMenu {
            grid-area: mainMenu;
        }

        .logo {
            grid-area: logo;
        }

        .myMax {
            grid-area: myMax;
        }

        .path {
            grid-area: path;
        }

        .down {
            grid-area: down;
        }

        .current {
            grid-area: current;
            background-color: yellow;
        }

        .yellow {
            background-color: yellow;
        }

        .pageTabs {
            grid-area: pageTabs;
            background-color: lightblue;
        }

        .grid-container {
            display: grid;
            grid-template-areas: 'logo mainMenu mainMenu mainMenu mainMenu mainMenu mainMenu mainMenu mainMenu mainMenu mainMenu myMax' 'logo path path path path path current down down down down down' 'pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs pageTabs';
            grid-gap: 1px;
            padding: 1px;
        }

            .grid-container > div {
                text-align: left;
                padding: 0px 0;
            }
    </style>
</head>

<body>
    <div id="MAIN" ng-app="mmApp" ng-controller="mmCtrl">

        <!--LOGIN-->

        <div class="container" ng-show="x_page && x_page == 'LOGIN'">
            <div class="header" style="padding:1px 50px;">
                <h4>
                    your Apps Factory<br /><br />
                    <span class="glyphicon glyphicon-lock"></span> McMax<br />
                </h4>
            </div>
            <div class="body" style="padding:40px 50px;">
                <form role="form">
                    <div class="form-group">
                        <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="password" class="form-control" id="usrname" placeholder="Enter Username" ng-model="login.usrname"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="psw" placeholder="Enter password" ng-model="login.password"
                            required>
                    </div>
                    <button type="submit" ng-click="log_in()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>
                        Login</button>
                    <center class="error">{{error}}</center>
                    <textarea cols="60" rows='30' class='form-control' ng-model='xTemp'></textarea>
                </form>
            </div>
        </div>

        <div class="container" ng-show="x_page && x_page != 'LOGIN'">
            
            <div class="header">
                <div class="grid-container">
                    <div class="logo">
                        <center><img src="http://www.verbierservices.net/images/McMax.jpg" width="90" border="0" /></center>
                    </div>
                    <div class="myMax">
                        <center>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-click="mymenu('mydata')"><a href="#">My account</a></li>
                                    <li ng-click="mymenu('quit')"><a href="#">Quit</a></li>
                                </ul>
                            </div>
                        </center>
                    </div>
                    <div class="mainMenu">
                        <a class="navbar-brand" href="#">{{x_o.name}}</a>
                        <ul class="nav navbar-nav" ng-show="xEditForm.$pristine" ng-repeat="i in x_o.forms">
                            <li ng-show="!i.parent && i._R"><a href="#" ng-click="navMain(i.name)">{{i.name}}</a></li>
                        </ul>
                    </div>
                    <div class="path">
                        <a class="navbar-brand" ng-show="xEditForm.$pristine && x_n.length > 0" href="#"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        <ul class="nav navbar-nav" ng-show="xEditForm.$pristine && x_n.length > 0" ng-repeat="i in x_n">
                            <li><a href="#" ng-click="navUp(i)">{{i.form}}</a></li>
                        </ul>
                    </div>
                    <div class="down" ng-show="xEditForm.$pristine && x_page.substring(0, 4) === 'EDIT' && x_o.forms[x_form].subForms.length > 0">
                        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-arrow-down"></span></a>
                        <ul class="nav navbar-nav" ng-show="xEditForm.$pristine && x_o.forms[x_form].subForms.length > 0"
                            ng-repeat="i in x_o.forms[x_form].subForms">
                            <li ng-show="x_o.forms[i]._R"><a href="#" ng-click="navDown(i)">{{i}}</a></li>
                        </ul>
                    </div>
                    <div class="current">
                        <center>{{x_form}} {{x_page}}</center>
                    </div>
                    <div class="pageTabs">
                        <div ng-show="x_page == 'LIST' || x_page == 'TREE'">
                            <ul class="nav navbar-nav" ng-repeat="i in x_o.forms[x_form].pages">
                                <li ng-show="i.name == 'LIST' || i.name == 'TREE'"><a href="#" ng-click="navTab(i.name)">{{i.name}}</a></li>
                            </ul>
                        </div>
                        <div ng-show="x_page.substring(0, 4) === 'EDIT'">
                            <ul class="nav navbar-nav" ng-repeat="i in x_o.forms[x_form].pages">
                                <li ng-show="i.name.substring(0, 4) == 'EDIT'"><a href="#" ng-click="navTab(i.name)">{{i.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content"></div>
                <div id="Googlemap" ng-show="x_o.forms[x_form].fieldsMap && x_o.forms[x_form].fieldsMap.length > 0 && x_page.substring(0, 7) == 'EDITmap'"
                    style="height: 500px; width: 100%;"></div>

                <!--SEARCH-->

                <form role="form" name="xSearchForm" ng-show="x_page.substring(0, 6) == 'SEARCH'" novalidate autocomplete="off">
                    <div id="searchItems" class="form-group" ng-switch="x_form">

                        <!--htmlSearch-->

                    </div>
                    <div class="form-group">
                        <br />
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" ng-click="xStartSearch()">Search</a>
                            <a href="#" class="btn btn-primary" ng-click="xCancel(xSearchForm)">Cancel</a>
                        </div>
                    </div>
                </form>

                <!--LIST-->

                <div class="panel" ng-show="x_page.substring(0, 4) == 'LIST'">
                    <span ng-show="x_o.forms[x_form].pages.SEARCH">{{xSearchListTitle}}</span> <span ng-show="myOrderBy"> Order
                        by {{myOrderBy.substring(9)}}</span>
                    <input type="range" name="points" min="1" max="{{x_rowsMax}}" step="1" ng-model="x_pageCt" ng-change="xInit()">
                    <div class="btn-group btn-group-justified">
                        <button ng-click="xAdd()" ng-show="x_o.forms[x_form]._C" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                        <a href="#" class="btn btn-primary" ng-click="xInitSearch()" ng-show="x_o.forms[x_form].pages.SEARCH">Search</a>
                        <a href="#" class="btn btn-primary" ng-click="chart()" ng-show="x_o.forms[x_form].pages[x_page].graph">Chart</a>
                        <a href="#" class="btn btn-primary" ng-click="carousel()" ng-show="x_o.forms[x_form].pages[x_page].carousel">Carousel</a>
                        <a href="#" class="btn btn-primary" ng-click="copyTotal()" ng-show="x_o.forms[x_form].pages[x_page].copyTotal">copyTotal</a>
                    </div>
                    <div id="listItems" ng-switch='x_page + x_form'>

                        <!--htmlList-->

                    </div>
                </div>


                <!--TREE not form specific, creates 3D by setting parentID-->

                <div class="panel" ng-show="x_page == 'TREE'">
                    <div class="btn-group btn-group-justified">
                        <button ng-click="xAdd()" ng-show="x_o.forms[x_form]._C" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                        <a href="#" class="btn btn-primary" ng-click="treeCollapse()">collapse all</a>
                        <a href="#" class="btn btn-primary" ng-click="treeExpand()">show all</a>
                    </div>
                    <hr>
                    <table>
                        <tr ng-repeat='item in xTree' id='{{item.ID}}' ng-show='item.show' ondrop='drop(event)' ondragover='allowDrop(event)'
                            draggable='true' ondragstart='drag(event)'>
                            <td>
                                <pre><a href="#" ng-click="xView(xList[item.sequence])"><span class="glyphicon glyphicon-eye-open"></span></a> {{spaces(item.level)}}<button ng-class='getStatusClass(item.parentID)' ng-click='treeClick(item.position)'>{{item.status}}</button> <span class='w3-tooltip'> {{item.display}}<span style="padding-left: 20px" class='w3-text'>{{item.description}}</span></span></pre>
                            </td>
                        </tr>
                    </table>
                </div>

                <!--EDIT-->

                <form role="form" name="xEditForm" ng-show="x_page.substring(0, 4) == 'EDIT'" novalidate autocomplete="new-password">
                    <div id="editItems" class="form-group" ng-switch="x_page + x_form">
                        <div ng-switch-when='EDITmydata'>
                            <hr>
                            <label>your name</label>
                            <input type='text' class='form-control' ng-model='xElement.infoJSON.name'>
                            <label>user name</label>
                            <input type='text' class='form-control' ng-model='xElement.infoJSON.un'>
                            <label>password</label>
                            <input type='text' class='form-control' ng-model='xElement.infoJSON.pwd'>
                        </div>

                        <!--htmlEdit-->
                        
                    </div>
                    <div class="form-group">
                        <br />
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" ng-click="xSave(xEditForm)" ng-show="xEditForm.$dirty || xEditFormDirty">Save</a>
                            <a href="#" class="btn btn-primary" ng-click="xCancel(xEditForm)">Cancel</a>
                            <a href="#" class="btn btn-primary" ng-click="xDelete(xEditForm)" ng-show="xElement.ID && x_o.forms[x_form]._D">Delete</a>
                            <a href="#" class="btn btn-primary" ng-click="xInitSearch()" ng-show="x_o.forms[x_form].pages.SEARCH">Search</a>
                        </div>
                    </div>
                </form>

                <!--VIEW-->

                <form role="form" name="xViewForm" ng-show="x_page.substring(0, 4) == 'VIEW'">
                    <div id="viewItems" class="form-group" ng-switch="x_page + x_form">

                        <!--htmlView-->

                    </div>
                    <div class="form-group">
                        <br />
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" ng-click="xCancel(xViewForm)">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        //Script.js//
    </script>

</body>

</html>